@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@use "sass:math";
@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  direction: rtl;
  /* update text-align value to right;  on latin screens*/
  direction: ltr;
  /* update text-align value to left; on latin screens*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
  display: block;
}

.block {
  display: block;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.menu a {
  color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 2.5em;
}

.navTop-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #111111;
  padding-left: 150px;
}

.navTop-banner img {
  width: 60px;
  height: auto;
}

.nav-button {
  background-color: transparent;
  position: fixed;
  z-index: 400;
  top: 35px;
  right: 200px;
  border: none;
  outline: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.nav-button:before {
  content: url("../../../assets/icons/hamburger.svg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 150px;
}

.nav-button:after {
  opacity: 0;
  content: url("../../../assets/icons/close-menu.svg");
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
}

.nav-button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.nav-button:hover {
  opacity: 1;
  cursor: pointer;
}

.open .nav-button {
  opacity: 1;
}

.open .nav-button:before {
  opacity: 0;
  width: 0;
}

.open .nav-button:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
          transform: translate3d(0, 0, 0) rotate(360deg);
  -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

nav {
  z-index: 300;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #111111;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
          transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}

.open nav {
  top: 0;
}

.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

.menu .navTop-inner-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99999;
}

.menu a {
  opacity: 0;
  text-align: center;
  transform: translate3d(0, 36px, 0);
  -webkit-transform: translate3d(0, 36px, 0);
  -moz-transform: translate3d(0, 36px, 0);
  -ms-transform: translate3d(0, 36px, 0);
  -o-transform: translate3d(0, 36px, 0);
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  overflow: hidden;
  color: #111111;
  -webkit-text-stroke: 1px #ffffff;
}

.open .menu a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.open .menu a:nth-child(1) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.open .menu a:nth-child(2) {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}

.open .menu a:nth-child(3) {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

.open .menu a:nth-child(4) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

.open .menu a:nth-child(5) {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}

.open .menu a:nth-child(6) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}

.menu .outer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffffff;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.menu .inner {
  display: inline-block;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.menu a .outer,
.menu a .inner {
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  transition: -webkit-transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02), -webkit-transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  -webkit-transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  -moz-transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  -ms-transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  -o-transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}

.menu a:hover .outer,
.menu a:hover .inner {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

[data-animation='to-left'] .outer {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

[data-animation='to-left'] .inner {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

[data-animation='to-top'] .outer {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

[data-animation='to-top'] .inner {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

[data-animation='to-bottom'] .outer {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

[data-animation='to-bottom'] .inner {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.page-wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: darkblue;
}

.page-wrapper__nav {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.page-wrapper__footer {
  width: 100%;
  height: 100px;
  background-color: darkmagenta;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */